# Dependências e pastas locais
node_modules/
venv/
.venv/
target/
build/
dist/

# Arquivos de ambiente e segredos
.env
.env.local
*.pem
*.key

# Controle de versão e IDEs
.git
.gitignore
.idea/
.vscode/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db

# Logs e arquivos temporários
*.log
npm-debug.log*
yarn-error.log*